input {
  display:block;
}

.top_row {
  text-shadow: none;
  background-color: lightgrey;
  text-align: center
}

table {
  margin: auto;
  text-align: center;
  border: 1px solid black;
  border-radius: 50px;
}

.ui-content{
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box;
}