input {
  display:block;
}

.top_row {
  text-shadow: none;
  background-color: #165F80;
  color: white;
  text-align: center
}

.table_format {
  margin: auto;
  text-align: center;
  border: 1px solid black;
  border-radius: 50px;
}

* {
  box-sizing: border-box;
}


a{
  text-decoration: none;
  color: white;
  &:visited {
    color: white
  }
}

// .ui-content{
//   -webkit-box-align: center;
//   -webkit-box-pack: center;
//   display: -webkit-box;
// }