.container{
  max-width: 568px;
  text-align: center;
  border-collapse: true;
  input{
    border: 1px solid lightgray;
    width: 17rem;
    height: 2rem;
    margin: auto;
    display: block;
  }
  .new_user{
    margin-top: 3rem;
  }
  .input-field{
    padding-left: 1rem;
  }
  .btn{
    background-color: #4099FF;
    color: white;
    text-align: center;
  }
  #signup{
    text-decoration: none;
    padding-top: 1rem
  }
}
