Welcome, #{@user.first.name.capitalize}!

= link_to "New", new_user_workout_path

- @unique_workouts = []
- @user.first.workouts.each do |workout|
  - @unique_workouts << workout.name
  - @unique_workouts.uniq!
- @unique_workouts.each do |workout|
  - @workout = Workout.where('name = ?', workout).first
  = link_to workout.capitalize, user_workout_path(id: @workout.id)

