.workout-container
  #welcome-header
    Welcome, #{@user.first.name.capitalize}!
    .menu-button
      MENU
  .workout-list
    = link_to "+", new_user_workout_path
    %br
    %br
    %ul
      - @unique_workouts = []
      - @user.first.workouts.each do |workout|
        - @unique_workouts << workout.name
        - @unique_workouts.uniq!
      - @unique_workouts.each do |workout|
        - @workout = Workout.where('name = ?', workout).first
        %li
          = link_to workout.capitalize, user_workout_path(id: @workout.id)

